/* MAIN & GENERALI */

* {
  font-size: 20px;
  color: cyan;
}

body {
  position: relative;
}

title {
  display: none;
}

div {
  /* display: inline-flex; */
}

img {
  margin: 1%;
  position: absolute;
  z-index: -1;
  width: 100%;
  border: 5px solid grey;
}

button {
  background-color: transparent;
  height: 100px;
}

#main {
  border: 2px dotted black;
  width: 100%;
  /* min-height: 100%; */
}

#mask {
  border: 5px dotted darkblue;
}

/*DISPLAY*/

#display {
  margin: 2%;
  display: block;
  position: absolute;
  left: 5%;
  border: 2px solid salmon;
  width: 40%;
  height: 100px;
  z-index: 1;
}

#punti {
  display: block;
  top: 40px;
  left: 70px;
}

#valueField {
  background-color: transparent;
  text-align: center;
  width: 15%;
}

#timer {
  top: 85px;
  left: 1000px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: blue;
  color: white;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 50px;
}

.hidden {
  display: none;
}

/* SEZIONI-DIVS */

#redButtons {
  display: inline-flex;
  position: absolute;
  left: 7%;
  border: 1px solid red;
  width: 9%;
}
#greenButtons {
  display: inline-block;
  position: absolute;
  left: 17%;
  border: 1px solid green;
  width: 17%;
}
#operazioniButtons {
  display: inline-block;
  position: absolute;
  left: 36%;
  border: 1px solid black;
  width: 12%;
}
#tastierino {
  display: inline-block;
  position: absolute;
  left: 49%;
  border: 1px solid blue;
  width: 28%;
}

#mainButtons {
  display: inline-block;
  position: absolute;
  left: 78%;
  border: 1px solid yellow;
  width: 18%;
}

/* BOTTONI */

  /*RED DIV*/

  #cancella {
    display: inline-block;
    position: absolute;
    top: 63%;
    width: 100%;
    height: 25%;
  }

  /*GREEN DIV*/
  #greenButtons button {
    display: inline-block;
    position: absolute;
    transform: skewY(-19deg);
    width: 100%;
  }

  #calcolo {
    top: 25%;
    height: 13%;
  }
  #dettato {
    top: 40%;
    height: 12%;
  }
  #tabelle {
    top: 54%;
    height: 12%;
  }
  #maggioreMinore {
    top: 68%;
    height: 13%;
  }

  /*OPERAZIONI DIV*/
  #diviso {
    display: inline-block;
    position: absolute;
    top: 16%;
    width: 100%;
    height: 12%;
    transform: skewY(-19deg);
  }
  #per {
    display: inline-block;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 13%;
    transform: skewY(-19deg);
  }
  #meno {
    display: inline-block;
    position: absolute;
    top: 44%;
    width: 100%;
    height: 13%;
    transform: skewY(-19deg);
  }
  #più {
    display: inline-block;
    position: absolute;
    top: 59%;
    width: 100%;
    height: 12%;
    transform: skewY(-19deg);
  }
  #asterisco {
    display: inline-block;
    position: absolute;
    top: 73%;
    width: 100%;
    height: 13%;
    transform: skewY(-19deg);
  }

  /*TASTIERINO DIV*/
  .tasti {
    display: inline-block;
    position: relative;
    top: 29%;
    width: 30%;
    height: 13%;
    margin: 2% 1%;
  }
  #sette {

  }
  #otto {

  }
  #nove {

  }
  #quattro {

  }
  #cinque {

  }
  #sei {

  }
  #uno {

  }
  #due {

  }
  #tre {

  }
  #zero {

  }

  /*MAIN DIV*/

  #go {
    display: inline-block;
    position: absolute;
    top: 59%;
    width: 100%;
    height: 13%;
  }

  #controllo {
    display: inline-block;
    position: absolute;
    top: 74%;
    width: 100%;
    height: 13%;
  }
